
/*removes point from li */
li{
    list-style-type: none;
}
/*remove scrollbar from overflow:scroll*/
::-webkit-scrollbar{
    display: none;
}

/*giving body 0margin and font family to all texts*/
body{
    margin: 0px;
    font-family:'lemonada';
    background-image: url(htmlPictures/logo_SABAR_transparent.png);
    background-repeat: no-repeat;
    background-color: #3053c718;
    background-position: 50%;
    background-position-y: 0%;
    background-attachment: fixed;
}

/*fixing header / search/ logo */
/*header doesnt move even when you scroll*/
header{
    margin: 0px;
    padding-top: 0px ;
    position: fixed;
    background-color:#222222;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width:5px;
    width: 100%;
    height:100px;
    } 
#logo{
    width: 100px;
}
/*taking care of categorys*/

div.make_cat{
  border-bottom-style: solid;
  border-bottom-color: #222222;

}
input.category-input{
    width: 200px;
    height: 50px;
    border:0px;
    margin: 0px;
    padding: 0px;
}
div.make_cat>button{
    cursor: pointer;
    height: 50px;
    width: 94px;
    border:3px;
    margin: 0px;
    padding: 0px;
}
div.sidenav{
    width: 300px;
    position: fixed;
    margin-top: 105px;
    border-right-style: solid;
    border-right-width: 3,5px;
    border-right-color: black;
    height: 90%;    
    overflow:scroll;
    background-color:#b8c9ff;


    }
ul.category-list{
    max-width: 300px;
    margin: 0px;
    padding: 0px;
}
/*category list*/
li.category-item:hover{
    color: white;
    background-color:#222222;
}
li.category-item{

  color:black;
  cursor: pointer;
  position: relative;
  padding: 15px 10px 15px 10px;
  font-size: 22px;
  border-bottom-style: solid;
  border-bottom-color:#222222;
  font-weight: bold;

  }
  li.category-all{
    color:black;
    cursor: pointer;
    position: relative;
    padding: 15px 10px 15px 10px;
    font-size: 22px;
    border-bottom-style: solid;
    border-bottom-color:#222222;
    font-weight: bold;

  }
  li.category-item:active{
      background-color:black;
  }
/*category list*/
/*category "x" delete button*/
span.categoryClose{
    cursor: pointer;
    color: rgb(148, 0, 0);
    border-style: solid;
    font-size: 14px;
    padding-left:10px ;
    padding-right: 10px;
    margin-top: 6px;
    border-radius:100px;
    float: right;
}
span.categoryClose:hover{
    color: rgb(255, 0, 0);
    background-color: white;
}

/*taking care of middle stuff*/
div.main{
    padding-top: 100px;
    margin-left: 300px;
    display: grid;
    grid-template-columns: 680px;
    grid-column-gap: 0px;

}

/*taking care of todo list*/
 div#todo{
     height: 600px;
     max-height: 600px;
     max-width: 680px;
     overflow: scroll;
     grid-column: 1;
    }
div#todo>h3{
    margin-left: 220px;
}
div#chooseCategory{
    margin-left: 90px;
    display: none;
}
div#todoInput{
    margin-left: 160px;
}
#ToDo{
    width: 200px;
    height: 34px;
}
#ToDo_add{
    height: 40px;

}

 /*todo tasks*/
ul#myList{
    padding: 0px;
    border-style: solid;
    border-width: 3px;
    border-color:#222222;
    height: 460px;
    width: 380px;
    max-height: 460px;
    margin-left: 150px;
}
li.some{
    color:black;
    font-size: 19px;
    border-bottom-style: solid;
    border-bottom-style: black;
    padding-left: 10px;
    background-color:#3053c718;
    overflow: hidden;
    margin-bottom: 0px;
    max-height: 35px;
    position: relative;
    padding: 5px;
}
li.some>span{
    color: red;
    float: right;
    cursor: pointer;
}

/*filer*/
 div#filer{
     padding: 10px;
     border-left-style: solid;
     border-left-style: black;
     height: 600px;
     max-height: 600px;
     max-width: 915px;
     overflow: scroll;
     grid-column: 2;
 }
/*bilder*/
 div#bilder{
     padding: 10px;
     border-top-style: solid;
     border-top-color: black;
     max-width: 1600px; ;
     width: 1614px;
     max-height: 250px;
     overflow: scroll;
    -ms-grid-column-span:3/2 ;
 }





