

div.sidenav{
    position: fixed;

}
div.main{
    margin-left: 300px;
}
.category li{

font-family: Arial Black;

list-style-type: none;

font-size: 200%;

}
li:hover{

font-size: 215%;
color: green;

}

/*
    styla denna knappen "x" för todo knapp
*/
.close{

}